<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Ninja Money!!!</title>
	</head>
	<body>
		<div id="wrapper">
			<h4>Your Gold: <b><%= @gold %></b></h4>
			<div id="choices">
				<form action="/farm" method="post">
					<input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>" />
					<h3>Farm</h3>
					<p>(earns 10-20 golds)</p>
					<input type="hidden" name="_method" value="farm" />
					<input type="submit" value="Find Gold!" />
				</form>
				<form action="/cave" method="post">
					<input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>" />
					<h3>Cave</h3>
					<p>(earns 5-10 golds)</p>
					<input type="hidden" name="_method" value="cave" />
					<input type="submit" value="Find Gold!" />
				</form>
				<form action="/house" method="post">
					<input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>" />
					<h3>House</h3>
					<p>(earns 2-5 golds)</p>
					<input type="hidden" name="_method" value="house" />
					<input type="submit" value="Find Gold!" />
				</form>
				<form action="/casino" method="post">
					<input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>" />
					<h3>Casino</h3>
					<p>(earns/takes 0-50 golds)</p>
					<input type="hidden" name="_method" value="casino" />
					<input type="submit" value="Find Gold!" />
				</form>
			</div>
			<p>Activities:</p>
			<% if @logs %>
				<div id="box">
				<% @logs.reverse.each do |log| %>
					<% if log.include?("Earned") %>
						<p class="earned"><%= log %></p>
					<% else %>
						<p class="lost"><%= log %></p>
					<% end %>
				<% end %>
				</div>
			<% end %>
		</div>
	</body>
</html>