/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px auto;
}
html {
	background: url("background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper h2 {
	color: gold;
	display: block;
	margin: 20px;
	text-align: left;
}
#wrapper h3, p {
	padding: 10px 20px;
}
#box {
	width: 500px;
	height: 170px;
	margin: 0px 10px 10px 20px;
	border: 1px solid black;
	overflow: scroll;
}
#box p {
	margin: 5px;
	padding: 5px;
}

#box .earned {
	color: gold;
}

#box .lost {
	color: red;
}
.choices {
	display: inline-block;
	width: 100%;
}
.choices form {
	display: inline-block;
	width: 20%;
	height: auto;
	margin-left: 20px;
	padding: 10px;
}
#farm img {
	max-width: 100%;
	border-radius: 5px;
}
@-webkit-keyframes jiggle {
	0% { -webkit-transform: rotate(-1deg); }
	50% { -webkit-transform: rotate(1deg); }
}
.farm:hover {
	-webkit-animation-name: jiggle;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin: 50% 50%;
}
.choices {
	text-align: center;
}
.choices form p {
	padding: 7px;
}
.choices form h3, p {
	text-align: center;
}
.choices form input {
	display: inline;
	width: 100px;
	border: 1px solid black;
	background-color: yellow;
	box-shadow: 2px 2px purple;
	margin: 0 auto;
}
.gold:hover {
  animation: shake 0.7s cubic-bezier(.26,.07,.19,.72) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}