/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#wrapper {
	width: 900px;
	min-height: 550px;
	margin: 0px auto;
	border: 2px solid black;
}
#wrapper h4 {
	display: block;
	margin: 20px;
	text-align: left;
}
#wrapper p {
	padding: 20px;
	text-align: left;
}
#choices {
	display: inline-block;
	width: 870px;
	min-height: 200px;
}
#choices form {
	display: inline-block;
	width: 170px;
	height: 150px;
	border: 1px solid black;
	margin-left: 20px;
	padding: 10px;
}
#choices form p {
	padding: 10px;
}
#choices form h3, p {
	text-align: center;
}
#choices form input {
	display: inline;
	width: 100px;
	border: 1px solid black;
	background-color: yellow;
	box-shadow: 2px 2px purple;
	margin: 5px 30px;
}
#box {
	width: 800px;
	height: 170px;
	margin: 0px 10px 10px 20px;
	border: 1px solid black;
	overflow: scroll;
}
#box p {
	margin: 5px;
	padding: 5px;
}

#box .earned {
	color: green;
}

#box .lost {
	color: red;
}